body {
    padding-top: 5rem;
    background-color: rgb(160, 160, 160);
}

form{
    background-color: rgb(247, 245, 242);
    padding-top:2rem;
    padding-left:2rem;
    padding-bottom:2rem;


}
label{
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:block;
}

img{
    height:260px;
    width: 330px;
    object-fit: cover;

}

.grid-prop{
    display:grid;
    grid-template-columns:repeat(3, 300px);
    grid-gap:15px;
}

.prop-body{
    background-color: aliceblue;
    
    box-shadow: 5px 5px 5px 5px #E2E8F0;
}

