{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}
    <div class="one">
        <img  src="{{ url_for('get_image', filename=property.photo) }}"/>

        <div class="singleInfo">
            <h2>{{property.title}}</h2>
            <div class="price-type">
                <span class="price-all">${{property.price}} </span>
                <span class="price-all" id="type-display"> {{property.type}} </span>
            </div>

            <p>{{property.description}}</p>

            <div class="room-address">
                <div> <ion-icon name="bed-outline"></ion-icon> {{property.bedrooms}} bedrooms</div>
                <div> <ion-icon name="storefront-outline"></ion-icon> {{property.bathrooms}} bathrooms</div>
            </div>
            <div> <ion-icon name="location-outline"></ion-icon> {{property.location}}</div>
            <button class="email">Email Realtor</button>
        </div>
    </div>
{% endblock %}